@import "./components/UserSearch.css";

.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}
.align-end {
  align-items: flex-end;
}