.search-bar-container {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;
  /* border-bottom: 1px solid darkslategray; */
}
.search-bar {
  
}
.search-results-container {
  max-height: 60vh;
  overflow: auto;
  /* padding: 0 0 0 27vw; */
  border-top: 1px solid darkslategray;
  border-bottom: 1px solid darkslategray;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.user-row {
  display: flex;
  justify-content: space-between;  
  align-items: center;
  max-width: 600px;
  width: 100%;
  cursor: pointer;
  padding: 10px 20px;
  border-top: 1px solid lightgray;
}
.user-row:hover {
  background: gainsboro;
}
.user-row:first-child {
  border-top: none;
}
.row-active {
  background: whitesmoke;
}
.user-avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.user-name {
  padding-left: 10px;
  font-weight: 400;
}
.page-control {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;
  /* border-top: 1px solid darkslategray; */
}
.pages-container {
  display: flex;
  align-items: center;
}
.page {
  padding: 10px;
  cursor: pointer;
}

.page.page-active {
  border-bottom: 1px solid black;
}

.subtitle {
  font-weight: 300;
  font-size: .85em;
}

.link-profile {
  font-weight: 300;
}

label {
  font-size: .85em;
  padding-bottom: 5px;
}

.focus-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
  /* background: whitesmoke; */
  /* align-items: center; */
  max-width: 600px;
  width: 100%;
  cursor: pointer;
  padding: 10px 20px;
}
.focus-name {
  margin: 5px 0;
  font-weight: 400;
}